{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "alias": {
          "@pages": ["./pages"],
          "@components": ["./components"],
          "@styles": ["./styles"],
          "@utils": ["./utils"],
          "@assets": "./assets",
          "@stores": "./stores"
        }
      }
    ]
  ]
}
